<!DOCTYPE html>
<html>
  <head>
    <meta charset='UTF-8'>
    <title>Hello World!</title>
    <!-- <link rel='stylesheet' href='/public/third_party/bootstrap/css/bootstrap.css' /> -->
  </head>
  <body>
    <div class='container'>
      <h1>Hello World!</h1>
      <p>Node.js+Express+TypeScript+Webpackで作るサンプルアプリケーション</p>
    </div>
  </body>
</html>
